<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../app.css" type="text/css">
   


</head>
<body>   
    <% include ../partial/header %>
    
    <br>
    <br>

    <a href="/createsql" class="button">Add a Character!</a>

    
        <div class="grid-container2">
            
        
            <% res1.forEach(function(characters1) { %>

            <div class="item2">
                <div class="item">
                    <h1 class="itemtitle">Id: <%= characters1.Id %></h1>
                    <h1 class="itemp">Name: <%= characters1.Name %></h1>
                      <img src="/<%= characters1.Image %>" class="pimage"></image>
                   
                    <h1 class="itemp">Description: <%= characters1.Description %></h1>
                    <a href="/deletesql/<%= characters1.Id %>" class="button">Delete Me!</a>
                    <a href="/edit/<%= characters1.Id %>" class="button">Edit Me!</a> 
                    <a href="/show/<%= characters1.Id %>" class="button">See this Character!</a>
                      
                </div>
            </div>


            <% }); %>


        </div>
        </h1>
    </div>
    
   
<br>
            <br>
            <br>
            
                <% include ../partial/footer %>
</body>

