<body>   
    <% include ../partial/header %>
    
    <br>
    <br>
    <br>
    <br>
    <br>
   
        <div class="item" >    
                <a href="/createsql" class="button">Add a Character!</a>
                <a href="/createtrivia/" class="button">Add Trivia!</a>
                <a href="/trivia/" class="button">See all Trivia!</a>
        </div>   
    
    
    <div class="grid-container2">
            
        <% res1.forEach(function(characters1) { %>

            <div class="item2">
                <div class="item">
                    <h3 class="itemtitle">Id: <%= characters1.chrId %></h3>
                    <h3 class="itemp">Name: <%= characters1.Name %></h3>
                    <img src="/<%= characters1.Image %>" class="pimage"></image>
                    <p class="itemp" id="justify">Description: <%= characters1.Description %></p>
                    <a href="/deletesql/<%= characters1.chrId %>" class="button">Delete Me!</a>
                    <a href="/edit/<%= characters1.chrId %>" class="button">Edit Me!</a> 
                    <a href="/show/<%= characters1.chrId %>" class="button">See this Character!</a>
                    
    <br>
    <br> 
                </div>
            </div>


        <% }); %>
<br>
    <br>
    <br>

    </div>
        
    <br>
    <br>
    <br>
            
    <% include ../partial/footer %>
</body>

