<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="../app.css" type="text/css">-->
   


<!--</head>-->
<body>   
    <% include ../partial/header %>
    
    <br>
    <br>
<br>
    <br>
<a href="/createsql" class="button">Add a Character!</a><a href="/createtrivia/" class="button">Add Trivia!</a>
    
    
    
    <div class="grid-container2">
            
        <% res1.forEach(function(characters1) { %>

            <div class="item2">
                <div class="item">
                    <h1 class="itemtitle">Id: <%= characters1.chrId %></h1>
                    <h1 class="itemp">Name: <%= characters1.Name %></h1>
                    <img src="/<%= characters1.Image %>" class="pimage"></image>
                    <h1 class="itemp" id="justify">Description: <%= characters1.Description %></h1>
                    <a href="/deletesql/<%= characters1.chrId %>" class="button">Delete Me!</a>
                    <a href="/edit/<%= characters1.chrId %>" class="button">Edit Me!</a> 
                    <a href="/show/<%= characters1.chrId %>" class="button">See this Character!</a>
            <br>
            <br> 
                </div>
            </div>


        <% }); %>


    </div>
        
    
    
   
    <br>
    <br>
    <br>
            
    <% include ../partial/footer %>
</body>

