<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../app.css" type="text/css">
  </head>

        
 <body class="ppbody">            
 <% include ../partial/header %>

<br>
<br>
<br>
<br>

   
   
<br>
<br>
<br>
<br>
<div class="contactinfo"> 

    
    <div class="row">
    
    
    <h1 class="center">Welcome to the Contacts Page</h1>
    
    <div class="grid-container2">
      
      
      <% contact.forEach(function(contact) { %>
      
           <div class="item2">     
                <div class="item">
                   <h1 class="itemtitle">Id: <%= contact.id %></h1>
                   <h1 class="itemp">Name: <%= contact.name %> </h1>
                    <h1 class="itemp">Email: <%= contact.email %> </h1>
                    <h1 class="itemp">Comment: <%= contact.Comment %> </h1>
                    <a href="/contactUpdate/<%= contact.id %>" class="button">Update Contact</a>
                    <a href="/deletecontact/<%= contact.id %>" class="button">Delete Me!</a>
                    <br><br>
                    <a href="/onecontact/<%= contact.id %>">View Contact</a><br>
                    <br>
                    </div>
            </div>
              
              
      <% }); %> 
              
           
    </div>
    </div>
  
</div>

  <br>          
<br>  
</body>
<% include ../partial/footer %>

