<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   
   
    <title>Supernatural Web Site</title>
    
   <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
    <% include ../partial/header %>
<br>
<br>
<br>
<br>
    
    <div class="row">
       <h1>Products page</h1>  <br>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
         
         <div class="grid-container">
             <% product.forEach(function(product) { %>
           
                      <div class="item">
                         <p class="itemtitle">Id: <%= product.id %></p>
                         <p class="itemp">Name: <%= product.name %> </p>
                         <p class="itemp">Description: <%= product.description %> </p>
                         <p class="itemp">Price: <%= product.price %> </p>
                         <a href="/deleteproduct/<%= product.id %>" class="button">Delete Me!</a><br>
                         <a href="/item/<%- product.id %>">view item</a>
                       </div>

             <% }); %> 
  
  </div>
 </div>
 <br>
 <br>
 

<% include ../partial/footer %>