<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../app.css" type="text/css">
  </head>

   <body class="ppbody">
   <% include ../partial/header %> 
<br>
<br>
<br>
<br>
<br>    
    
    <h1>Products Page</h1><div class="center">
        <a href="/addProducts/<%= product.Id %>" class="button1">Add New Product</a></div> 
    
    <br>
    <br>
    
    <br>
    <div class="row">
         
         <div class="grid-container">
             <% product.forEach(function(product) { %>
           
                      <div class="item">
                         <p class="itemtitle">Id: <%= product.id %></p>
                         <p class="itemp">Name: <%= product.name %> </p>
                         <p class="itemp">Description: <%= product.description %> </p>
                         <p class="itemp">Price: <%= product.price %> </p>
                         <img src="/<%= product.image %>" class="pimage"></image>
                         <p class= "pimage">Image: <%= product.image %> </p> 
                         <a href="/productUpdate/<%= product.id %>" class="button">Update Details</a><br><br>
                         <a href="/deleteproduct/<%= product.id %>" class="button">Delete Product</a><br>
                         <br>
                         <a href="/item/<%- product.id %>">View Item</a>
                       </div>
                       
             <% }); %> 
  
  </div>
 </div>
 <br>
 <br>
 <br>
 <br>
 </body>

<% include ../partial/footer %>