<body>   
    <% include ../partial/header %>
    
<br>
<br>
<br>
<br>       
         <div class="grid-container2">
            
                <% res1.forEach(function(trivia1) { %>
<br>
                    <div class="item2">
                        <div class="item">
                                <h3 class="itemtitle">Id: <%= trivia1.chrId %></h3>
                                <h3 class="itemp">Name: <%= trivia1.name %></h3>
                                <h3 class="itemp">Trivia: <%= trivia1.Trivia %></h3>
                                <a href="/deletetrivia/<%= trivia1.chrId %>" class="button">Delete Me!</a>
                                <a href="/triviaupdate/<%= trivia1.chrId %>" class="button">Edit Me!</a> 
                                <br>
                                <a href="/characterssql">Back to Characters</a>
<br>
<br> 
                        </div>
                    </div>

                <% }); %>
        </div>
<br>
<br>
<br>
            
    <% include ../partial/footer %>
</body>